.layout {
  display: flex;
  position: relative;
  background: #f9f6f4;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
    padding: 17px 36px 0 33px;
    .wrapper-copyright {
      padding-bottom: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #1e0d03;
      opacity: 0.5;
    }
  }
  .right {
    width: 82%;
    height: 100%;
    padding-top: 17px;
    padding-right: 32px;
    .wrapper-header {
      display: flex;
      justify-content: space-between;
    }
    .wrapper-main {
      margin: 32px 0;
    }
  }
  .modal-filter {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .modal-filter--outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-filter--filter {
      position: fixed;
      left: 35%;
      top: 30%;
    }
  }
  .modal-add-service {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .modal-add-service--outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-add-service--add {
      position: absolute;
      left: 35%;
      top: 15%;
    }
  }
  .modal-update-service {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .modal-update-service--outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-update-service--update {
      position: fixed;
      left: 35%;
      top: 15%;
    }
  }
  .modal-change-date {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .modal-change-date--outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-change-date--date {
      position: fixed;
      left: 30%;
      top: 22%;
    }
  }
}
