.menu-item {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 16px 15px 24px;
  gap: 12px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  text-decoration: none;
  &__icon {
    flex: none;
    order: 0;
    flex-grow: 0;
    img {
      width: 24px;
      height: 24px;
      opacity: 0.6;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.015em;
    color: #1e0d03;
    opacity: 0.6;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &.active {
    background: #ffb800;
    .menu-item__icon {
      img {
        filter: brightness(0) invert(1);
        opacity: 1;
      }
    }
    .menu-item__title {
      color: #ffffff;
      font-weight: 700;
      opacity: 1;
    }
  }
}
