.filter-button {
  button {
    width: 127px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 16px;
    gap: 10px;
    outline: 1px solid #ff993c;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    span {
      width: 61px;
      height: 26px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ff993c;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}
