.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  &__menu-item-sub {
    width: 105px;
    height: 26px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #1e0d03;
    opacity: 0.6;
    flex: none;
    order: 1;
    flex-grow: 0;
    &.active {
      font-weight: 700;
    }
  }
}
