.add-package {
  position: relative;
  width: 758px;
  min-height: 628px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 32px;
  .add-package__title {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #1e0d03;
    }
  }
  .add-package__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    .add-package__info--package {
      display: flex;
      flex-direction: row;
      gap: 80px;
      .package-code {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .label-code {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
          .required {
            color: #fd5959;
            margin-left: 4px;
          }
        }
        input {
          width: 245px;
          height: 40px;
          border: 1px solid #a5a8b1;
          border-radius: 8px;
          padding: 10px 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
      }
      .package-name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .label-name {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
          .required {
            color: #fd5959;
            margin-left: 4px;
          }
        }
        input {
          width: 367px;
          height: 40px;
          border: 1px solid #a5a8b1;
          border-radius: 8px;
          padding: 10px 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
      }
    }
    .add-package__info--date {
      display: flex;
      flex-direction: row;
      gap: 40px;
      .date-applied,
      .date-expired {
        .label {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
          margin-bottom: 8px;
        }
        .date-input {
          display: flex;
          gap: 8px;
          cursor: pointer;
          .date-picker__date,
          .date-picker__hour {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 12px;
            gap: 10px;
            border: 1px solid #a5a8b1;
            border-radius: 8px;
            .calendar-menu {
              position: absolute;
              top: 55px;
              left: 0;
            }
            .date,
            .hour {
              display: flex;
              input[type="date"] {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #a5a8b1;
                opacity: 0.7;
                outline: none;
                border: none;
                &::placeholder {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                }
                &::-webkit-calendar-picker-indicator {
                  display: none;
                }
              }
              input[type="time"] {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #a5a8b1;
                opacity: 0.7;
                outline: none;
                border: none;

                &::placeholder {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                }
                &::-webkit-calendar-picker-indicator {
                  cursor: pointer;
                  background: url(../../assets/images/u_clock-three.png) no-repeat;
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }
    .add-package__info--price {
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
        margin-bottom: 12px;
      }
      .price-ticket {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .checkbox {
          display: block;
          position: relative;
          cursor: pointer;
          padding-left: 35px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #1e0d03;
          opacity: 0.7;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ .checkmark {
                outline: none;
                background-color: #27aef9;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: -12px;
            left: 0;
            width: 24px;
            height: 24px;
            background: #ffffff;
            outline: 1.5px solid #ccc;
            border-radius: 5px;
            &:after {
              left: 8px;
              top: 5px;
              width: 5px;
              height: 9px;
              border: solid #ffffff;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .show-price {
          opacity: 0.7;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          input {
            padding: 10px 12px;
            width: 148px;
            height: 40px;
            background: #f1f4f8;
            border-radius: 8px;
            border: none;
            outline: none;
            opacity: 0.7;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #a5a8b1;
          }
        }
      }
      .price-combo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .checkbox {
          display: block;
          position: relative;
          cursor: pointer;
          padding-left: 35px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #1e0d03;
          opacity: 0.7;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ .checkmark {
                outline: none;
                background-color: #27aef9;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: -12px;
            left: 0;
            width: 24px;
            height: 24px;
            background: #ffffff;
            outline: 1.5px solid #ccc;
            border-radius: 5px;
            &:after {
              left: 8px;
              top: 5px;
              width: 5px;
              height: 9px;
              border: solid #ffffff;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .show-combo {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          opacity: 0.7;
          input {
            padding: 10px 12px;
            width: 148px;
            height: 40px;
            background: #f1f4f8;
            border-radius: 8px;
            border: none;
            outline: none;
            opacity: 0.7;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #a5a8b1;
          }
        }
        .show-combo-price {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          opacity: 0.7;
          input {
            padding: 10px 12px;
            width: 72px;
            height: 40px;
            background: #f1f4f8;
            border-radius: 8px;
            border: none;
            outline: none;
            opacity: 0.7;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #a5a8b1;
          }
        }
      }
    }
    .add-package__info--status {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
      }
      select {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 10px;
        width: 176px;
        height: 40px;
        border: 1px solid #a5a8b1;
        border-radius: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
        outline: none;
        border: none;
        cursor: pointer;
        option {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
          outline: none;
          border: none;
        }
      }
    }
    .add-package__info--note {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      .start {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #fd5959;
      }
      .text {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.4;
      }
    }
    .add-package__info--error {
      text-align: center;
      padding: 8px;
      background-color: #fd5959;
      transition: height 5s ease-in;
      .text {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
  .add-package__group-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    .btn-cancel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      width: 160px;
      height: 48px;
      border: 1px solid #ff993c;
      border-radius: 8px;
      background-color: transparent;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ff993c;
      cursor: pointer;
    }
    .btn-save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      width: 160px;
      height: 48px;
      border: 1px solid #ff993c;
      border-radius: 8px;
      background-color: #ff993c;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
