.service-btn {
  button {
    width: 164px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    gap: 10px;
    background: #ff993c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}
