.change-date {
  width: 758px;
  height: 365px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px 32px;
  .change-date__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e0d03;
    margin-bottom: 30px;
  }
  .change-date__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    .change-date__info--ticket-number {
      display: flex;
      flex-direction: row;
      gap: 140px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
      .ticket-number {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
    }
    .change-date__info--ticket-type {
      display: flex;
      flex-direction: row;
      gap: 125px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
      .ticket-type {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
    }
    .change-date__info--event-name {
      display: flex;
      flex-direction: row;
      gap: 90px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
      .event-name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
      }
    }
    .change-date__info--date {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 78px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.8;
      }
      .date-picker__date {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 10px;
        border: 1px solid #a5a8b1;
        border-radius: 8px;
        cursor: pointer;
        .calendar-menu {
          position: absolute;
          top: 50px;
          left: 0;
        }
        .date {
          display: flex;
          input[type="date"] {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #a5a8b1;
            opacity: 0.7;
            outline: none;
            border: none;
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }
      }
      .calendar-picker {
        position: absolute;
        top: 55px;
        right: 22%;
      }
    }
  }
  .change-date__group-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    .btn-cancel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      width: 160px;
      height: 48px;
      border: 1px solid #ff993c;
      border-radius: 8px;
      background-color: transparent;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ff993c;
      cursor: pointer;
    }
    .btn-save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      width: 160px;
      height: 48px;
      border: 1px solid #ff993c;
      border-radius: 8px;
      background-color: #ff993c;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
