.verify-ticket {
  display: flex;
  min-height: 963px;
  gap: 24px;
  &__main {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
    .verify-ticket__title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      display: flex;
      align-items: center;
      color: #1e0d03;
    }
    .verify-ticket__extension {
      display: flex;
      justify-content: space-between;
      margin: 32px 0;
      .verify-ticket__search {
        width: 446px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 16px;
        gap: 16px;
        background: #f7f7f8;
        border-radius: 8px;
        .search__input {
          width: 100%;
          height: 100%;
          input {
            width: 370px;
            height: 28px;
            outline: none;
            border: none;
            background-color: transparent;
            &::placeholder {
              font-style: italic;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #1e0d03;
              display: flex;
              align-items: center;
              opacity: 0.3;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 1;
            }
          }
        }
        .search__icon {
          width: 24px;
          height: 24px;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
    .verify-ticket__table {
      flex: 1;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__filter {
    width: 30%;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
  }
}
