.search-component {
  width: 470px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 16px;
  background: #ededed;
  border-radius: 12px;
  .search-component__input {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      &::placeholder {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #1e0d03;
        display: flex;
        align-items: center;
        opacity: 0.3;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
      }
    }
  }
  .search-component__icon {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
