.filter-bar {
  .filter-bar__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #1e0d03;
    margin-bottom: 32px;
  }
  .filter-bar__option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    .filter-bar__option--event {
      select {
        cursor: pointer;
        width: 374px;
        height: 40px;
        background: #f1f4f8;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #7c7d95;
        border: none;
        outline: none;
        padding: 10px 16px;
        option {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #7c7d95;
        }
      }
    }
    .filter-bar__option--status {
      display: flex;
      gap: 26px;
      .text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #1e0d03;
        opacity: 0.8;
      }
      .group-btn {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .radio {
          display: block;
          position: relative;
          cursor: pointer;
          padding-left: 35px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #1e0d03;
          opacity: 0.7;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ .checkmark {
                background-color: #fff;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: -2px;
            left: 0;
            height: 24px;
            width: 24px;
            padding: 4px;
            background-color: #fff;
            border: 1px solid #27aef9;
            border-radius: 50%;
            &:after {
              top: 2px;
              left: 2px;
              height: 18px;
              width: 18px;
              border-radius: 50%;
              background: #27aef9;
            }
          }
        }
      }
    }
    .filter-bar__option--type {
      display: flex;
      gap: 124px;
      .text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #1e0d03;
        opacity: 0.8;
      }
      .type-ticket {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.7;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }
    .filter-bar__option--from-date {
      position: relative;
      display: flex;
      align-items: center;
      gap: 116px;
      .label {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #1e0d03;
        opacity: 0.8;
      }
      .calendar-wrapper {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 28px;
        padding: 8px 16px;
        width: 192px;
        height: 40px;
        background: #e0e0e0;
        border-radius: 8px;
        .date-text {
          display: flex;
          align-items: center;
          position: relative;
          input[type="date"] {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            color: #a5a8b1;
            background: transparent;
            border: none;
            outline: none;
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }
        .calendar-menu {
          position: absolute;
          right: 0;
          top: 50px;
        }
      }
      .calendar-picker {
        position: absolute;
        top: 55px;
        right: 0;
      }
    }
    .filter-bar__option--to-date {
      position: relative;
      display: flex;
      align-items: center;
      gap: 102px;
      .label {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #1e0d03;
        opacity: 0.8;
      }
      .calendar-wrapper {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        gap: 28px;
        width: 192px;
        height: 40px;
        background: #f7f8fb;
        border-radius: 8px;
        .date-text {
          display: flex;
          align-items: center;
          position: relative;
          input[type="date"] {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #a5a8b1;
            height: 100%;
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }
        .calendar-menu {
          position: absolute;
          right: 0;
          top: 50px;
        }
      }
      .calendar-picker {
        position: absolute;
        top: 55px;
        right: 0;
      }
    }
  }
  .filter-bar__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      width: 160px;
      height: 48px;
      background-color: transparent;
      border: 1px solid #ff993c;
      border-radius: 8px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ff993c;
      cursor: pointer;
    }
  }
}
