.home {
  background: #ffffff;
  height: 100%;
  border-radius: 24px;
  padding: 24px;
  min-height: 963px;
  .home__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #1e0d03;
    margin-bottom: 32px;
  }
  .home__chart {
    .home__chart-line {
      margin-bottom: 40px;
      .home__chart-line--top {
        display: flex;
        justify-content: space-between;
        position: relative;
        .text {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          color: #1e0d03;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        .date-picker {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 8px 12px;
          gap: 10px;
          width: 155px;
          height: 40px;
          background: #ffffff;
          border: 1px solid #e6e0e0;
          border-radius: 4px;
          cursor: pointer;
          .date-picker__date {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #1e0d03;
            opacity: 0.78;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
        .calendar-menu {
          position: absolute;
          right: 20px;
          bottom: -460px;
        }
      }
    }
    .home__total-income {
      margin-bottom: 48px;
      .home__total-income--title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #1e0d03;
        opacity: 0.5;
      }
      .home__total-income--money {
        .money {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #1e0d03;
        }
        .unit {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #1e0d03;
        }
      }
    }
    .home__chart-doughnut {
      position: relative;
      display: flex;
      justify-content: space-between;
      .home__chart-doughnut--date {
        position: relative;
        .date-picker {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 8px 12px;
          gap: 10px;
          width: 155px;
          height: 40px;
          background: #ffffff;
          border: 1px solid #e6e0e0;
          border-radius: 4px;
          cursor: pointer;
          .date-picker__date {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #1e0d03;
            opacity: 0.78;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
        .calendar-menu {
          position: absolute;
          top: -25px;
          left: 165px;
        }
      }
      .wrapper-chart {
        display: flex;
        gap: 180px;
        .chart {
          .title {
            margin-bottom: 25px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #1e0d03;
            text-align: center;
          }
        }
      }
      .legend {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-top: 26px;

        .legend-item-1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;
          .color-1 {
            width: 44px;
            height: 20px;
            background: #4f75ff;
            border-radius: 4px;
          }
          .text-1 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #1e0d03;
          }
        }
        .legend-item-2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;
          .color-2 {
            width: 44px;
            height: 20px;
            background: #ff8a48;
            border-radius: 4px;
          }
          .text-2 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #1e0d03;
          }
        }
      }
    }
  }
}
