.menu-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  .menu-dropdown__item {
    width: 100%;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1e0d03;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      background-color: #ddd;
    }
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  th {
    padding: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    color: #1e0d03;
    background: #f1f4f8;
    &:not(:first-child) {
      text-align: left;
    }
  }
  tr {
    height: 48px;
    background: #ffffff;
    &:nth-child(even) {
      background-color: #f7f8fb;
    }
  }
  td {
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1e0d03;
    opacity: 0.7;
    &:first-child {
      text-align: center;
    }
    &:not(:first-child) {
      text-align: left;
    }
  }

  tbody {
    tr {
      .not-used {
        width: 126px;
        height: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: #def7e0;
        border: 1px solid #03ac00;
        border-radius: 4px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #03ac00;
        }
      }
      .used {
        width: 111px;
        height: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: #eaf1f8;
        border: 1px solid #919dba;
        border-radius: 4px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #919dba;
        }
      }
      .expired {
        width: 89px;
        height: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: #f8ebe8;

        border: 1px solid #fd5959;
        border-radius: 4px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #fd5959;
        }
      }
      .table-icon {
        opacity: 0;
        cursor: pointer;
      }
      &:hover {
        .table-icon {
          opacity: 1;
        }
      }
    }
  }
}
