.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  &__mail {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
  }
  &__bell {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
  }
  &__user {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
  }
}
