.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 67px;
  gap: 15px;
  span {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 4px 8px;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    opacity: 0.7;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #1e0d03;
    cursor: pointer;
    &.active {
      border: 1px solid #ff993c;
      border-radius: 4px;
      color: #ff993c;
    }
    &.disabled {
      pointer-events: none;
    }
  }
}
