.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 16px;
  position: relative;
  width: 370px;
  height: 440px;
  background: #ffffff;
  box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
  border-radius: 20px;
  z-index: 1000;
  .calendar__month-selector {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .date {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #23221f;
      flex: none;
      flex-grow: 0;
    }
  }
  .calendar__option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .option-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .radio {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 35px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #1e0d03;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked {
            ~ .checkmark {
              background-color: #fff;
              &:after {
                display: block;
              }
            }
          }
        }
        .checkmark {
          position: absolute;
          top: -2px;
          left: 0;
          height: 24px;
          width: 24px;
          padding: 4px;
          background-color: #fff;
          border: 1px solid #27aef9;
          border-radius: 50%;
          &:after {
            top: 2px;
            left: 2px;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #27aef9;
          }
        }
      }
    }
  }
  .calendar__date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 320px;
    height: 266px;
    flex: none;
    order: 2;
    flex-grow: 0;
    .calendar__date--week-days {
      display: flex;
      flex-direction: row;
      padding: 0px;
      gap: 23px;
      width: 320px;
      height: 28px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      span {
        width: 22px;
        height: 28px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #c55e00;
      }
    }
    .calendar__date--days {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .week {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 13px;
        &.current-week {
          background-color: #ffd2a8;
          border-radius: 16px;
          color: #ffffff;
          .date:first-child,
          .date:last-child {
            background-color: #ffba7b;
          }
        }
        .date {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &.select-date {
            background-color: #c55e00;
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;
            }
          }

          &.current-month {
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #23221f;
            }
            &:hover {
              background-color: #ffd2a8;
            }
          }
          &.today {
            background: #ffba7b;
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;
            }
          }
          &.not-current-month {
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #23221f;
              opacity: 0.3;
            }
            &:hover {
              background-color: #ffd2a8;
            }
          }
        }
      }
    }
  }
}
