.table {
  tbody {
    tr {
      td {
        .no-data {
          position: absolute;
          top: 400%;
          left: 50%;
          transform: translate(-50%, -50%);
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #1e0d03;
            opacity: 0.6;
          }
        }
        .checked {
          font-style: italic;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          align-items: center;
          color: #fd5959;
        }
        .unchecked {
          font-style: italic;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          align-items: center;
          color: #a5a8b1;
        }
        .verify-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 4px;
          width: 94px;
          height: 24px;
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            text-decoration-color: #ff993c;
          }
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #ff993c;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
    }
  }
}
