.loading {
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #1e0d03;
    opacity: 0.6;
  }
}
