.table {
  tbody {
    tr {
      .applied {
        width: 135px;
        height: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        background: #def7e0;
        border: 1px solid #03ac00;
        border-radius: 4px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #03ac00;
        }
      }
      .off {
        width: 59px;
        height: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: #f8ebe8;

        border: 1px solid #fd5959;
        border-radius: 4px;
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #fd5959;
        }
      }
      td {
        .update-button {
          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 4px;
            width: 94px;
            height: 24px;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
              width: 24px;
              height: 24px;
              flex: none;
              order: 0;
              flex-grow: 0;
            }
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              display: flex;
              align-items: center;
              color: #ff993c;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
          }
        }
      }
    }
  }
}
