.filter-modal {
  position: relative;
  width: 634px;
  height: 454px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 29px 23px 32px;
  .filter-modal__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e0d03;
    margin-bottom: 27px;
  }
  .filter-modal__option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    .filter-modal__option--date {
      display: flex;
      flex-direction: row;
      gap: 145px;
      .filter-modal__option--date--from-date {
        cursor: pointer;
        position: relative;
        label {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
        .choose-date {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 8px 12px;
          gap: 10px;
          border: 1px solid #a5a8b1;
          border-radius: 8px;
          input {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #1e0d03;
            opacity: 0.7;
            outline: none;
            border: none;
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }
        .calendar-menu {
          position: absolute;
          top: 85px;
        }
      }
      .filter-modal__option--date--to-date {
        cursor: pointer;
        label {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #1e0d03;
          opacity: 0.7;
        }
        .choose-date {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 8px 12px;
          gap: 10px;
          border: 1px solid #a5a8b1;
          border-radius: 8px;
          input {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #1e0d03;
            opacity: 0.7;
            outline: none;
            border: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #1e0d03;
            opacity: 0.7;
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #1e0d03;
              opacity: 0.7;
            }
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }
        .calendar-menu {
          position: absolute;
          top: 165px;
        }
      }
    }
    .filter-modal__option--status {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.8;
      }
      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .radio {
          display: block;
          position: relative;
          cursor: pointer;
          padding-left: 35px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #1e0d03;
          opacity: 0.7;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ .checkmark {
                background-color: #fff;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: -2px;
            left: 0;
            height: 24px;
            width: 24px;
            padding: 4px;
            background-color: #fff;
            border: 1px solid #27aef9;
            border-radius: 50%;
            &:after {
              top: 2px;
              left: 2px;
              height: 18px;
              width: 18px;
              border-radius: 50%;
              background: #27aef9;
            }
          }
        }
      }
    }
    .filter-modal__option--gate {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #1e0d03;
        opacity: 0.8;
      }
      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 13px;
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .checkbox {
          display: block;
          position: relative;
          cursor: pointer;
          padding-left: 35px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #1e0d03;
          opacity: 0.7;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ .checkmark {
                outline: none;
                background-color: #27aef9;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: -3px;
            left: 0;
            width: 24px;
            height: 24px;
            background: #ffffff;
            outline: 1.5px solid #ccc;
            border-radius: 5px;
            &:after {
              left: 8px;
              top: 5px;
              width: 5px;
              height: 9px;
              border: solid #ffffff;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
  .filter-modal__button {
    display: flex;
    justify-content: center;
    button {
      width: 160px;
      height: 48px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      gap: 10px;
      border: 1px solid #ff993c;
      border-radius: 8px;
      background-color: transparent;

      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #ff993c;
      cursor: pointer;
    }
  }
}
